This is my first sumbmission on kaggle and here i have tried to implement various models for classification such as
1) Logistic Regression 
2) DecisionTree
3) RandomForest

This is a very basic problem so we do not need to worry about overfitting and ubderfiting, by the way that can be achieved by tuning in your HyperParameters.
 
The main focus of this kernal is to make newbies familar with the practical way of doing things  like Data-Cleaning and Data-Processing and Data-Visualisation. 
And last there are more than one method of doing one thing so better focus on the concept rather then the minute Details 

And if like my work please upvote and follow for desining kernnals for further competitions

In [1]:
# import the important modules

In [2]:
import pandas as pd
import numpy as np 
from sklearn.metrics import recall_score, precision_score, f1_score
from sklearn.linear_model import LogisticRegression
import os

In [3]:
dir=os.getcwd()
dir

'D:\\Python\\Projects\\Titanic'

In [4]:
train=pd.read_csv(dir+"\\DataSet\\train.csv" )

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
train.shape

(891, 12)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [262]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
# Finding missing columns
[col for col in train.columns if train[col].isnull().any()]

['Age', 'Cabin', 'Embarked']

In [11]:
# now the count
missing_val_count_col=train.isnull().sum()
print(missing_val_count_col[train.isnull().sum()>0])

Age         177
Cabin       687
Embarked      2
dtype: int64

#Here Cabin has most of its data lost so no need to consider this attrbute or feature

In [12]:
train.drop(columns='Cabin',inplace=True)

In [266]:
train.shape

(891, 11)

#Now Since the other missing variables Age is numerical we will replace it with the mean and the Embarked with the mode

In [13]:
#we can use it for entire dataset
from sklearn.impute import SimpleImputer
# or 
from sklearn.preprocessing import Imputer

In [14]:
my_imputer = SimpleImputer(strategy='mean')

In [15]:
#This step is required because fit_transform take only array of either one columnn or one row
train['Age'] = my_imputer.fit_transform(np.array(train['Age']).reshape(-1,1))

In [16]:
my_imputer = SimpleImputer(strategy='most_frequent') #default is mean so if you want to fill it with that then no need to pass the strategy Argument

In [17]:
#This step is required because fit_transform take only array of either one columnn or one row
train['Embarked'] = my_imputer.fit_transform(np.array(train['Embarked']).reshape(-1,1))

In [18]:
#Now Check if there is any missing Values

In [19]:
[col for col in train.columns if train[col].isnull().any()]
#Nope as empty list is Returned

[]

In [20]:
train.shape

(891, 11)

In [275]:
#now Split the train dataset in input and output that is X and Y1

In [21]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [22]:
#now Convert the 'Embareked' and 'Sex' columns in numerical values

In [23]:
#Eventhough Jupyter notebook  provide us the flexibility to improt modules whenever required you should import 
# the frequnektly used modules in the begining only
from sklearn.preprocessing import LabelBinarizer

In [24]:
categorical_columns= [col for col in train.columns if train[col].dtype=='O']
categorical_columns

['Name', 'Sex', 'Ticket', 'Embarked']

In [25]:
#personally I think that 'Name' and 'Ticket'hardly paly any role in survival of a passenger 
# so i am not going to convert these variables

In [26]:
categorical_columns=['Sex','Embarked']

In [27]:
categorical_columns

['Sex', 'Embarked']

In [28]:
encoder = LabelBinarizer()

for col in categorical_columns:
    
    train[col] = encoder.fit_transform(train[col])

In [29]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,0

#Let's make the model by droppingthe Name and 'Ticket' from the dataset also let's Drop the PassengerId
but the good way is to make the  use of the visualisation so we are in a better position to decide upon 
these kind of feature dropping or selction  we will viuslaise that soon enough and then build anoteher model using those  visualisation

In [32]:
#but first make a copy of the dataframe after the data preprocessing and with the removal of the 'Csbin column'

In [33]:
dataset=train.copy()

In [34]:
train.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)

In [35]:
#spliting the Data into targets and the lables

In [36]:
train_X,train_Y=train.drop('Survived',axis=1),train['Survived']

In [37]:
train_X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         0
1       1    0  38.0      1      0  71.2833         1
2       3    0  26.0      0      0   7.9250         0
3       1    0  35.0      1      0  53.1000         0
4       3    1  35.0      0      0   8.0500         0

In [38]:
#Since Series was returned which is 1 coulumns dataframe i convert it in the dataframe and it is totally optional
train_Y=pd.DataFrame(data=train_Y,columns=['Survived'])

In [39]:
train_Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [40]:
Regression=LogisticRegression()

In [41]:
Regression.fit(train_X,train_Y)

C:\Users\Abhi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abhi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [42]:
train_predict=Regression.predict(train_X)

In [43]:
Regression.score(train_X,train_Y)

0.7991021324354658

 #Now let's see how many of them are different from our original dataset train_y as a percentage of total sample size taken

In [53]:
# Although the Accuracy has already been given by the score method as percentage

In [45]:
count=0
for i in range(0,len(train)):
    if(train['Survived'][i]!=train_predict[i]):
        count=count+1
count

179

In [46]:
Accuracy=1-count/len(train)
print(Accuracy)

0.7991021324354658

In [50]:
#let's draw the confusion matrix

In [55]:
from sklearn.metrics import confusion_matrix

In [68]:
confusionmatrix=confusion_matrix(train['Survived'],train_predict)
confusionmatrix

array([[474,  75],
       [104, 238]], dtype=int64)

Now let's calculate the precision_score both manually and using the formula

In [70]:
precisionScore=confusionmatrix[1][1]/(confusionmatrix[0][1]+confusionmatrix[1][1])
precisionScore

0.7603833865814696

In [66]:
precisionScore=precision_score(train['Survived'],train_predict)
precisionScore

0.7603833865814696

In [71]:
#Recall Score

In [72]:
recallScore=confusionmatrix[1][1]/(confusionmatrix[1][0]+confusionmatrix[1][1])
recallScore

0.695906432748538

In [73]:
recallScore=recall_score(train['Survived'],train_predict)
recallScore

0.695906432748538

In [74]:
# This Model is no way Good

Earlier we have drooped passenngerid  Name and Ticket columns let's see if using these attributes will help  imrpving the model performenace 
by using the correlation method

In [77]:
dataset.corr() #it will plot the numeric values only

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.033207,-0.057527,-0.001652,0.012658,-0.001205
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.069809,-0.035322,0.081629,0.257307,0.168240
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.331339,0.083081,0.018443,-0.549500,-0.243292
Sex,0.042939,-0.543351,0.131900,1.000000,0.084153,-0.114631,-0.245489,-0.182333,-0.082853
Age,0.033207,-0.069809,-0.331339,0.084153,1.000000,-0.232625,-0.179191,0.091566,0.032024
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.232625,1.000000,0.414838,0.159651,-0.059528
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.179191,0.414838,1.000000,0.216225,-0.011069
Fare,0.012658,0.257307,-0.549500,-0.182333,0.091566,0.159651,0.216225,1.000000,0.269335
Embarked,-0.001205,0.168240,-0.243292,-0.082853,0.032024,-0.059528,-0.011069,0.269335,1.000000

Here passengerid is hardly showing any impact on the on the predicted vlaue

Let's Submit the prediction from this model into kaggle and then we will continue it for decison tree and randomforest classifer also